table {
    border-collapse: collapse;
    width: 15%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid blueviolet;
    border-top: 2px solid blueviolet;
}


#box-spacing {
    padding: 25px;
    margin: 100px;
    background-color: lavenderblush;
    border: 1px double black;
}


.hov:hover{
    background-color: lightpink;
}


